*{
    box-sizing: border-box;
    padding: 0;
    margin: 0;

    
    
}





.image {
    width: 300px;
    height: 350px;
    
    cursor: pointer;
    z-index: 2;
    
    
}
.cont{
    width: 300px;
    height: 350px;
    position: relative;
    
}
.cont::after{
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    background: linear-gradient(to bottom ,rgba(0,0,0,62%),rgba(255,255,255,33%),rgba(0,0,0,61%) )
    
}

.card-body{
    background-color: black;
  
}

.main {
    column-gap: 5px;
    background-color: black;
    color: white;
    height: 100vh;
    width: 100wh;
    margin-top: 10px;
    margin-right: 25px;
}
.sub-main {
    column-gap: 5px;
    background-color: black;
    color: white;
    height: 100vh;
    width: 100wh;
    margin-top: 10px;
    margin-right: 25px;
}

.card {
    background-color: black;
}



body{
    background-color: black;
}

.over {
    display: block;
}

.input-group{
    width: 170px;
    height: 30px;
    margin-left: 28px;
}

.view{
    
        column-gap: 5px;
        background-color: black;
        color:burlywood;
       
        width: 100% !important;
        margin-top: 10px;
        margin-right: 25px;
        display: block;
    }


    @media screen and (max-width: 1000px) {
        .card-body {
          text-align: center;
          
        }
      }

      @media screen and (max-width: 1000px) {
        .input-group {
          margin: auto;
        }
      }

      .container {
        position: relative;
        width: 50%;
      }
      
      .image {
        display: block;
        width: 100%;
        height: auto;
      }
      
      .overlay {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        height: 100%;
        width: 100%;
        opacity: 0;
        transition: .5s ease;
        background-color: #008CBA;
      }
      
      .container:hover .overlay {
        opacity: 1;
      }
      
      .text {
        color: white;
        font-size: 10px;
        position: absolute;
        top: 50%;
        left: 50%;
        -webkit-transform: translate(-50%, -50%);
        -ms-transform: translate(-50%, -50%);
        transform: translate(-50%, -50%);
        text-align: center;
      }

